@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Outfit", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Radio button styles for user form */
.radio-button {
  display: inline-block;
  flex: 1;
  /* Ensures equal space for buttons */
  text-align: center;
  padding: 10px 20px;
  margin: 3px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
}

.radio-button.selected {
  background-color: #6236F5;
  color: white;
  border-color: #6236F5;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button:hover {
  background-color: #ddd;
}

.radio-button.selected:hover {
  background-color: #4a29cc;
}

.radio-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-container {
  width: 100%;
}